/* Fullscreen me extra black shadows aur controls ke overlap watermark ko hatane ke liye */
.video-container:fullscreen .custom-watermark-overlay,
video:fullscreen ~ .black-watermark,
:-webkit-full-screen .black-watermark {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

video {
  width: 100% !important;
  height: 100% !important;
}
